<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>反馈系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <div class="panel panel-primary">
                <div class="panel-heading">
                <h4>问题反馈</h4>
            </div>
                <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="subject">主题</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="subject" name="subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="category">分类</label>
                        <div class="col-md-2">
                            <select class="form-control"  name="category" id="category">
                                {% for item in categories %}
                                   <option value="{{ item.0 }}"> {{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="email">邮箱</label>
                        <div class="col-md-6">
                            <input class="form-control" type="email" id="email" name="email" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="username">姓名</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="screenshot">问题截图</label>
                        <div class="col-md-6">
                            <input  type="file" id="screenshot" name="screenshot">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="description">问题描述</label>
                        <div class="col-md-6">
                             <textarea class="form-control"  name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="subscription">订阅资讯</label>
                        <div class="col-md-6">
                             <input  type="checkbox" id="subscription" name="subscription">
                        </div>
                    </div>
                </form>
            </div>
                <div class="panel-footer">
                    <div class="row" >
                        <div class="col-md-6 col-md-offset-2">
                            <input class="btn btn-primary" type="submit" value="提交">
                            <input class="btn btn-primary" type="reset" value="重置">
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>