<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax员工查询</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
</head>
<body>
    <h1>AJAX员工查询</h1>
    名称:<input type="text" id="name">
    <p>
        <button id="btnLoad">Load员工查询</button>
        <button id="btnGet">GET员工查询</button>
        <button id="btnAjax">Ajax员工查询</button>
    </p>
    <div id="emp-list"></div>


</body>
</html>
<script>
    $(document).ready(function () {
        $('#btnLoad').click(function () {
            var key = $("#name").val();
            $('#emp-list').load('/employees/?name=' + key);
        });

        $("#btnGet").click(function () {
            var key = $("#name").val();
            $.get('/employees/', {'name':key}, function (response) {
                $('#emp-list').html(response)
            });
        });

        $('#btnAjax').click(function () {
            $.ajax({
                url: '/employees/',
                data: {'name': $('#name').val()},
                method: 'GET',
                success: function (response) {
                    $("#emp-list").html(response);
                }
            });
        });
    });
</script>